Source: libqt5-qtwebengine
Section: web
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 bison,
 build-essential,
 flex,
 gperf,
 ruby,
 python,
 libasound2-dev,
 libbz2-dev,
 libcap-dev,
 libcups2-dev,
 libdrm-dev,
 libegl1-mesa-dev,
 libjpeg-dev,
 libgcrypt11-dev,
 libnss3-dev,
 libpci-dev,
 libpng-dev,
 libssl-dev,
 libpulse-dev,
 libudev-dev,
 libxcursor-dev,
 libxcomposite-dev,
 libxdamage-dev,
 libxrandr-dev,
 libfontconfig1-dev,
 libxss-dev,
 libxtst-dev,
 git,
 gyp,
 ninja,
 libqt5concurrent5 (>=5.6.0),
 libqt5dbus5 (>=5.6.0),
 libqt5libqgtk2 (>=5.6.0),
 libqt5opengl5-dev (>=5.6.0),
 libqt5opengl5 (>=5.6.0),
 libqt5printsupport5 (>=5.6.0),
 libqt5qml5 (>=5.6.0),
 libqt5quick5 (>=5.6.0),
 libqt5quickparticles5 (>=5.6.0),
 libqt5quicktest5 (>=5.6.0),
 libqt5quickwidgets5 (>=5.6.0),
 libqt5-qtwebchannel-all (>=5.6.0), 
 libqt5sql5 (>=5.6.0), 
 libqt5widgets5 (>=5.6.0),
 libqt5xml5 (>=5.6.0),
 qtdeclarative5-dev (>=5.6.0),
 qtdeclarative5-dev-tools (>=5.6.0),
 qtdeclarative5-private-dev (>=5.6.0),
 qml (>=5.6.0),
 qml-module-qt-labs-folderlistmodel (>=5.6.0),
 qml-module-qt-labs-settings (>=5.6.0),
 qml-module-qtqml-models2 (>=5.6.0),
 qml-module-qtqml-statemachine (>=5.6.0),
 qml-module-qtquick2 (>=5.6.0),
 qml-module-qtquick-localstorage (>=5.6.0),
 qml-module-qtquick-particles2 (>=5.6.0),
 qml-module-qtquick-window2 (>=5.6.0),
 qml-module-qtquick-xmllistmodel (>=5.6.0),
 qml-module-qttest (>=5.6.0),
 qmlscene (>=5.6.0),
 qt5-qmltooling-plugins (>=5.6.0),
 qt5-default (>=5.6.0),
 qt5-qmake (>=5.6.0),
 qtbase5-dev-tools (>=5.6.0),
 qtbase5-private-dev (>=5.6.0),
 zlib1g-dev
Standards-Version: 3.9.7
Homepage: http://qt-project.org/
Vcs-Git: http://code.qt.io/cgit/qt/qtwebengine.git/

Package: libqt5-qtwebengine
Architecture: any
Multi-Arch: same
Provides: qtwebengine
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Chromium integration into Qt with QtWebEngine.
 QtWebEngine integrates chromium's fast moving web capabilities into Qt.
 .
 Our goal is to bring the latest and best implementation of the web 
 platform into the universe of Qt. It is not just a port of the core 
 HTML/CSS rendering engine, it is the entire Chromium platform. The 
 integration with Qt focuses on an API that is easy to use, yet 
 extensible. We also make no compromise on the graphics integration, 
 integrating the layer rendering of Chromium directly into the OpenGL 
 scene graph of QtQuick.
