#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

export PATH := $(PATH):$(shell pwd)/src
export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

current_dir = $(shell pwd)

# Modify gyp bulid (modeled after opensuse 5.6 spec. file)
# Try to just include what's necessary at first 
# (system packages used during qtbase configuration time)
# See readme.md in the build script directory for more.

myconf = " -Duse_system_libjpeg=1 \
	-Duse_system_libpng=1 \
	-Duse_system_openssl=1 \
	-Duse_system_zlib=1 \
	-Duse_system_sqlite=1"

%:
	dh $@
	
override_dh_auto_configure:
	# Replace var placeholders with multi-arch equiv. and so ver.
	find . -name *.install -print0 | xargs -0 sed -i "s|@DEB_HOST_MULTIARCH@|$(DEB_HOST_MULTIARCH)|g"
	# Trim .git dirs
	find . -name .git -print0 | xargs -0 rm -rf
	#force the configure script to generate the forwarding headers (it checks whether .git directory exists)
	mkdir .git
	# Modify gyp bulid (modeled after opensuse 5.6 spec. file)
	cd $(current_dir)/src/3rdparty/chromium/build/linux/unbundle/
	replace_gyp_files.py "$(myconf)"
	cd $(current_dir)
	# configure
	qmake -r QMAKE_LFLAGS+="-Wl,--no-keep-memory -Wl,--hash-size=31 -Wl,--reduce-memory-overheads"
