#!/usr/bin/make -f

# TODO: figure out why tests fail


DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

%:
	dh $@


override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake -DCMAKE_BUILD_TYPE=Release  \
	-DCMAKE_INSTALL_PREFIX=/usr \
	..
	# Install places libs/pkgconfig in /usr/lib64, which is not per the new
	# spec /usr/lib/<triplet>, e.g. /usr/lib/x86_64-linux-gnu
	# There does not appear to be a CMakeCache entry to change this
	sed -i "s/lib64/$(DEB_HOST_MULTIARCH)/g" $(CURDIR)/build/src/cmake_install.cmake

override_dh_auto_build:
	make -C build
	make -C build doc-man
	make -C build/tests

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/hawkey -C build install

override_dh_auto_test:
