#!/usr/bin/make -f

# Install/build modeled from

%:
	dh $@


override_dh_auto_build:
	rm -rf build && mkdir build
	cd build && cmake -DCMAKE_BUILD_TYPE=Release  \
	-DCMAKE_INSTALL_PREFIX=/usr \
	..
	make -C build
	make -C build doc-man

# tests fail for whatever reason
# TODO: fix

override_dh_auto_test:
