Source: pcsx2-unstable
Section: games
Priority: optional
Maintainer: Gregory Hainaut <gregory.hainaut@gmail.com>
Build-Depends: cmake (>= 2.8.5),
 gcc,
 gcc-multilib,
 g++, 
 g++-multilib,
 debhelper (>= 8.9), 
 libaio-dev:i386, 
 libbz2-dev:i386, 
 libcggl:i386, 
 libegl1-mesa-dev:i386, 
 libglew-dev:i386, 
 libgles2-mesa-dev, 
 libgtk2.0-dev:i386, 
 libjpeg-dev:i386, 
 libsdl1.2-dev:i386, 
 libsoundtouch-dev:i386, 
 libwxgtk3.0-dev:i386, 
 nvidia-cg-toolkit, 
 portaudio19-dev:i386, 
 zlib1g-dev:i386
Standards-Version: 3.9.3
Homepage: http://pcsx2.net/

Package: pcsx2-unstable
Architecture: i386
Breaks: pcsx2
# -i686 allow to use SSE into libc6
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6-i686
# libasound => alsa plugin for pulseaudio
# libusb    => ps3 controller (and probably others)
Recommends: libasound2-plugins,
    libusb-0.1-4
Conflicts: pcsx2-unstable
Description: Playstation 2 emulator
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.

Package: pcsx2-unstable-dbg
Section: debug
Breaks: pcsx2-dbg
Priority: extra
Architecture: i386
Depends: ${misc:Depends}, pcsx2 (= ${binary:Version})
Conflicts: pcsx2-unstable-dbg
Description: Debug symbols for PCSX2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbols for PCSX2.
