Source: qtgamepad
Section: libs
Priority: low
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 pkg-kde-tools,
 libsdl2-dev,
 libqt5quick5 (>= 5.7.0~),
 qml (>=5.7.0~),
 qtbase5-dev-tools (>=5.7.0~),
 qt5-default (>= 5.7.0~),,
 qt5-qmake (>= 5.7.0~),
 qtbase5-dev (>= 5.7.0~)
Standards-Version: 3.9.8
Homepage: https://github.com/qt/qtgamepad

Package: libqt5gamepad
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 Gamepad module
 A Qt 5 module that adds support for getting events from
 gamepad devices on multiple platforms.
