Source: libregeek-archive-keyring
Priority: extra
Section: utils
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9), gnupg
Standards-Version: 3.9.5

Package: libregeek-archive-keyring
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: GnuPG keys for the SteamOS-Tools project repositories and archives
 This package contains all necessary GnuPG cryptographic keys needed to
 sign all SteamOS-Tools archives.
 .
 These keys allow ensuring the integrity of the binary packages and
 sources contained in the APT repositories.
