#!/usr/bin/make -f

# Upstream now using gcc5, which Jessie does not have
# Use clang

export CC=clang
export CXX=clang++

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir -p build
	cd build && cmake \
		-DCMAKE_C_COMPILER="/usr/bin/clang" \
		-DCMAKE_CXX_COMPILER="/usr/bin/clang++" \
		-DCMAKE_C_FLAGS="-Wall -std=c99" \
		-DCMAKE_CXX_FLAGS="-Wall -std=c++11 -std=c++1y" \
		.. && make
