#!/usr/bin/make -f

# Upstream now using gcc5, which Jessie does not have
# Use clang

export CC=clang
export CXX=clang++

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir -p build
	cd build && cmake ..
