Source: thedarkmod
Section: games
Priority: optional
Build-Depends: debhelper
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Vcs-Git: https://github.com/ProfessorKaos64/tdm
Homepage: http://thedarkmod.com

Package: thedarkmod
Architecture: all
Depends: darkmod
Description: Transitional dummy package for 'darkmod'
