Source: libframetime
Section: devel
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper,
 build-essential,
 gcc,
 mesa-common-dev
Standards-Version: 3.9.7
Homepage: https://github.com/professorkaos64/libframetime

Package: libframetime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A preloadable library to count OpenGL frame time
 libframetime is a preloadable library, able to dump the frame
 times of any OpenGL application on Linux, on any driver.
 .
 Original source: https://github.com/clbr/libframetime
 Fork: https://github.com/professorkaos64/libframetime
