Source: gzdoom
Section: games
Priority: optional
Build-Depends: debhelper (>=9),
 build-essential,
 cmake,
 git,
 libbz2-dev,
 libsdl2-dev,
 libjpeg-dev,
 libfluidsynth-dev,
 libgtk-3-dev,
 libgme-dev,
 libmpg123-dev,
 libopenal-dev,
 libsndfile1-dev,
 nasm,
 tar,
 timidity,
 zlib1g-dev
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.7
Homepage: https://github.com/coelckers/gzdoom

Package: gzdoom
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: gzdoom Doom engine
 GZDoom adds an OpenGL renderer to the ZDoom source port.
