[Desktop Entry]
Version=1.0
Type=Application
Name=GZDoom
Comment=Advanced Doom source port.
Exec=gzdoom
Icon=/usr/share/pixmaps/gzdoom.png
Terminal=false
Categories=Game
