#!/usr/bin/make -f

CFLAGS   = -O3 -fno-strict-aliasing $(filter-out -g -O2 -Werror=%, $(shell dpkg-buildflags --get CFLAGS)) -Wno-unused-result -Wno-unused-but-set-variable
CXXFLAGS = -O3 -fno-strict-aliasing -fpermissive $(filter-out -g -O2 -Werror=%, $(shell dpkg-buildflags --get CXXFLAGS)) -Wno-unused-result
LDFLAGS  = $(filter-out %-Bsymbolic%, $(shell dpkg-buildflags --get LDFLAGS)) -Wl,--as-needed

TOP = $(shell pwd)

# Note: @EXTRA_OPTIONS@ set in build script

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake .. \
		-DFORCE_INTERNAL_BZIP2=OFF \
		-DFORCE_INTERNAL_GME=OFF \
		$(FMOD) \
		$(OPENAL)

override_dh_auto_build:
	make -j4 -C build
