[Desktop Entry]
Name=OpenRA
Comment=A Libre/Free RTS game engine supporting early Westwood classics.
Exec=/usr/games/openra
Icon=/usr/share/pixmaps/openra.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
Keywords=openra,red-alert,game
