Source: libretro-mame
Section: games
Priority: optional
Maintainer: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: debhelper (>= 9), python2.7, python-minimal, libqt4-dev-bin, qtchooser, libasound2-dev
Standards-Version: 3.9.6
Homepage: http://mamedev.org

Package: libretro-mame
Architecture: any
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for MAME
 This wrapper makes MAME core API compatible with libretro, thus allowing its
 use with libretro frontends, such as RetroArch. This package includes the 
 development version of MAME.
 .
 MAME is a hardware emulator: it faithfully reproduces the behavior of many
 arcade machines (it is not a simulation). This program is not a game but can
 directly, through ROM images, run the complete system of these old arcade
 machines. These ROMs are subject to copyright and it is in most of the cases
 illegal to use them if you do not own the arcade machine.

#Package: libretro-mess
#Architecture: any
#Multi-Arch: same
#Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
#Description: Libretro wrapper for MESS
# This wrapper makes MESS core API compatible with libretro, thus allowing its
# use with libretro frontends, such as RetroArch. This package includes the 
# development version of MESS.
# .
# MESS is a source-available project which documents the hardware for a wide
# variety of (mostly vintage) computers, video game consoles, and calculators
# through software emulation, as MAME does for arcade games. As a nice side
# effect to this documentation, MESS allows software and games for these
# hardware platforms to be run on modern PCs.
