Source: humblebundle
Section: games
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 libdbus-glib-1-dev,
 python-all,
# python-dbus,
 dbus-python,
 python-keyring,
 python-lxml,
 python-progressbar,
 python-secretstorage,
 python-setuptools-git,
 python-xdg
Standards-Version: 3.9.7
Homepage: https://github.com/MestreLion/humblebundle

Package: humblebundle
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 dbus-python,
 python,
 python-keyring,
 python-lxml,
 python-progressbar,
 python-xdg
Description: HumbleBundle is CLI tool to manage your games.
 .
 Python library and command line tool to manage Humble Bundle 
 games. List your bundles and games, Show their info, 
 Download, Install and Uninstall them! It's like apt-get for 
 Humble Bundle.
