Source: humblebundle
Section: games
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all,
 python-setuptools,
 setuptools-git
Standards-Version: 3.9.7
Homepage: https://github.com/MestreLion/humblebundle

Package: humblebundle
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 python,
 python-keyring,
 python-progressbar,
 python-xdg,
 python-lxml
Description: HumbleBundle is CLI tool to manage your games.
 .
 Python library and command line tool to manage Humble Bundle 
 games. List your bundles and games, Show their info, 
 Download, Install and Uninstall them! It's like apt-get for 
 Humble Bundle.
