#!/usr/bin/make -f

# Try workaround for pbuilder woes with cargo fetch
ifeq ($(BUILDER),pdebuild)
	export HOME=$(CURDIR)/debian/home-tmp
endif

%:
	dh $@ --parallel

override_dh_auto_build:
	cargo fetch
	cargo build --release
