#!/usr/bin/make -f


ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(ARCH),armhf)
	PLATFORM=platform="armv hardfloat gles"
endif

%:
	dh $@ --parallel

override_dh_auto_build:
	cargo build --release
