Source: play
Section: games
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake,
 libboost-all-dev,
 libc++-dev,
 libmysql++-dev,
 libbz2-dev,
 libgl1-mesa-dev,
 libglew-dev,
 libglu1-mesa-dev,
 zlib1g-dev
Standards-Version: 3.9.7
Homepage: https://github.com/jpd002/Play-

Package: play
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Playstation 2 emulator.
 Play! is an attempt to create a PlayStation 2 
 emulator for Windows, macOS, UNIX, Android & 
 iOS platforms.
