#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	mkdir -p Play/build_unix/build
	cd Play/build_unix/build && cmake ..
	make -C Play/build_unix/build
	mkdir -p Play/build-ui
	qmake -o Play/build-ui
	make -C Play/build-ui
