#!/usr/bin/make -f

#export DH_VERBOSE=1

# Set compiler vars
export CC = "/usr/bin/clang-3.8"
export CXX = "/usr/bin/clang++-3.8"

%:
	dh $@

override_dh_auto_build:
	mkdir -p Play/build_unix/build
	cd Play/build_unix/build && cmake \
			-DCMAKE_C_COMPILER=/usr/bin/clang-3.8 \
			-DCMAKE_CXX_COMPILER=/usr/bin/clang++-3.8 \
			..
	make -C Play/build_unix/build
	mkdir -p Play/build-ui
	cd Play/build_unix && qmake -o ../../Play/build-ui/
	make -C Play/build-ui
