#!/usr/bin/make -f
# -*- makefile -*-

# Use the right java version
export JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Notes
# Jar should be built/run as:
# java -jar target/playonlinux-5.0-SNAPSHOT-jar-with-dependencies.jar

%:
	dh $@

override_dh_auto_build:
	# Project compiles with maven
	mvn clean
	mvn2 assembly:assembly
