#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_auto_build-indep:
	convert -monitor -resize 32x32 $(CURDIR)/etc/playonlinux.png $(CURDIR)/playonlinux.xpm

override_dh_auto_install:

override_dh_install:
	dh_install
	chmod +x debian/playonlinux-unstable/usr/share/playonlinux/bash/startup_after_server
	chmod +x debian/playonlinux-unstable/usr/share/playonlinux/bash/read_pc_cd
	chmod +x debian/playonlinux-unstable/usr/share/playonlinux/bash/find_python
