[submodule "modules-flathub"]
	path = modules-flathub
	url = https://github.com/flathub/shared-modules
[submodule "supertux"]
	path = supertux
	url = https://github.com/flathub/org.supertuxproject.SuperTux
[submodule "utils/json2yaml"]
	path = utils/json2yaml
	url = https://github.com/drbild/json2yaml
[submodule "utils/flatpak-builder"]
	path = utils/flatpak-builder
	url = https://github.com/flatpak/flatpak-builder
