Source: reicast
Section: games
Priority: optional
Build-Depends: debhelper,
 build-essential,
 libasound2,
 libegl1-mesa-dev,
 libgles2-mesa-dev,
 libasound2-dev,
 mesa-common-dev,
 libgl1-mesa-dev,
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.8
Homepage: https://github.com/reicast/reicast-emulator

Package: reicast
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An open-source Dreamcast emulator
