[Desktop Entry]
Name=Reicast
Comment=Experiemental Dreamcast emulator
Exec=/usr/bin/reicast
Icon=/usr/share/pixmaps/reicast.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
