[Desktop Entry]
Name=Nikki and The Robogts
Comment=2D Platformer
Exec=/usr/games/nikki
Icon=/usr/share/pixmaps/nikki.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
