#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export prefix = /usr
export DESTDIR = $(CURDIR)/debian/nvidia-nvenc-sdk

%:
	dh $@

override_dh_auto_build:
	cd Samples && make
