[Unit]
Description=Return to Castle Wolfenstein game server
Documentation=file:///usr/share/doc/rtcw-server/README.Debian
Documentation=man:wolfded(6)
After=network.target
# This server and the @server instance would try to use the same
# configuration, and fight over their home directory
Conflicts=rtcw-server@server.service

[Service]
Type=simple
User=rtcw-server
Environment=DAEMON_OPTS=
EnvironmentFile=-/etc/default/rtcw-server
ExecStart=/usr/games/wolfded +set com_homepath server.iortcw $DAEMON_OPTS +exec etc/rtcw-server/server.cfg
Restart=on-failure
RestartPreventExitStatus=72
# hardening
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
