[Desktop Entry]
Version=1.0
Name=nova-pinball
GenericName=nova-pinball
Type=Application
Comment=
Icon=
Exec=mari0
Terminal=false
StartupNotify=false
Keywords=game;
Categories=Game;
