#!/usr/bin/make -f

# Set verbose mode
#export DH_VERBOSE = 1

# Set project name
export PYBUILD_NAME=humblebundle

%:
	dh $@ --with python2 --buildsystem=pybuild

#override_dh_auto_test:
#	dh_auto_test -- --test-pytest
        
override_dh_strip:
	dh_strip -phumblebundle --dbg-package=humblebundle-dbg

#break pbuilder to review files until further notice
override_dh_builddeb:
	cp these-are-not-the-droids-you-are-looking-for death-star
