# main packaging script based on dh7 syntax

%:
	dh $@ --parallel

#override_dh_auto_test:

#override_dh_auto_configure:

#override_dh_auto_install

#override_dh_strip:

#override_dh_builddeb:

#override_dh_auto_clean:
