# main packaging script based on dh7 syntax
%:
         dh $@ 

# override_dh_auto_build:
  export

# override_dh_auto_test:

# override_dh_auto_configure:
	export PATH=$PATH:$PWD/node_modules/.bin
	#export COVERALLS_SERVICE_NAME=jenkins
        #export COVERALLS_SERVICE_JOB_ID=$BUILD_ID

# override_dh_auto_install:
	npm install
	npm test

# override_dh_strip:

# override_dh_builddeb:

# override_dh_auto_clean:
