[Desktop Entry]
Name=Citra
Comment=Experiemental 3DS emulator software
Exec=/usr/games/citra
Icon=/home/steam/Pictures/citra.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
