Source: citra
Section: games
Priority: optional
Build-Depends: debhelper,
 libsdl2-dev,
 libqt5opengl5-dev,
 python-pkgconfig,
 qtbase5-dev,
 cmake (>= 3.1)
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Homepage: https://github.com/citra-emu

Package: citra
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends},
 libqt5opengl5,
 libqt5widgets5
Description: Citra is an emulator for 3DS games and software.
