Source: scrawpp
Section: utils
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 build-essential,
 cmake (>= 3.1),
 scraw (>= 0.2.1)
Standards-Version: 3.9.7
Homepage: https://gitlab.com/dennis-hamester/scrawpp

Package: scrawpp
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Steam Controller C++ library
