Source: syncthing
Section: net
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 8.0.0), gccgo, git
Standards-Version: 3.9.4
Homepage: http://syncthing.net/
Vcs-Browser: https://github.com/calmh/syncthing

Package: syncthing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, syncthing-repo
Description: open-source replacement for BitTorrent Sync
 Syncthing replaces Dropbox and BitTorrent Sync with something open, trustworthy and decentralized. Your data is your data alone and you deserve to choose where it is stored, if it is shared with some third party and how it's transmitted over the Internet.
 .
 Using syncthing, that control is returned to you.

