[Desktop Entry]
Name=Play!
Comment=Playstation 2 emulator
Exec=/usr/games/play
Icon=/usr/share/pixmaps/play.png
Terminal=false
Type=Application
Categories=emulator;
MimeType=x-scheme-handler/steam;
Keywords=emulator,game
