[Desktop Entry]
Name=AM2R
Comment=Fan-made remake of Metroid II
Exec=/usr/games/am2r
Icon=/usr/share/pixmaps/am2r.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
Keywords=metroid,game
