#!/usr/bin/make -f

#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

%:
	dh $@ --parallel

override_dh_auto_clean:

override_dh_clean:

override_dh_auto_configure:
	MAKEFLAGS="-j$(NUMJOBS)" ./configure \
			-confirm-license -opensource \
			-prefix "/usr" \
			-bindir "/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/bin" \
			-libdir "/usr/lib/$(DEB_HOST_MULTIARCH)" \
			-docdir "/usr/share/qt5/doc" \
			-headerdir "/usr/include/$(DEB_HOST_MULTIARCH)/qt5" \
			-datadir "/usr/share/qt5" \
			-archdatadir "/usr/lib/$(DEB_HOST_MULTIARCH)/qt5" \
			-hostdatadir "/usr/share/qt5" \
			-plugindir "/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/plugins" \
			-importdir "/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/imports" \
			-translationdir "/usr/share/qt5/translations" \
			-hostdatadir "/usr/lib/$(DEB_HOST_MULTIARCH)/qt5" \
			-sysconfdir "/etc/xdg" \
			-examplesdir "/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/examples" \
			-nomake examples \
			-nomake tests 
