Source: shashlik-unstable
Section: utils
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 curl,
 git-core,
 ninja-build
Standards-Version: 3.9.5
Homepage: http://www.shashlik.io/

Package: shashlik-unstable
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Stripped down Android emulator for Linux
 Shashlik provides an incredibly stripped down Android base which 
 boots directly into the loaded app, but with a running activity 
 manager and daemons so that intents still work correctly..
