#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	# requires older love version
	wget http://ftp.us.debian.org/debian/pool/main/l/love/love_0.8.0-1+deb7u1_amd64.deb
	sudo dpkg -i love_0.8.0-1+deb7u1_amd64.deb
	rm love_0.8.0-1+deb7u1_amd64.deb
