[Desktop Entry]
Name=DOOM³
GenericName=DOOM³
TryExec=dhewm3
Exec=dhewm3 +set fs_game base
Icon=doom3.png
Terminal=false
Type=Application
Categories=Game
Keywords=doom3,game,First-Person-Shooter
