Source: libretro-handy
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: debhelper (>= 9), zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://handy.sourceforge.net

Package: libretro-handy
Architecture: any
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for Handy
 This wrapper makes Handy API-compatible with libretro, thus allowing its use
 with libretro frontends, such as RetroArch.
 .
 Handy is an Atari Lynx emulator and it was the original name of the Lynx
 project that was started at Epyx and then finished by Atari.
