Source: 3doh
Section: games
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 build-essential
Standards-Version: 3.9.7
Homepage: https://github.com/ProfessorKaos64/3doh

Package: 3doh
Architecture: all
Depends: ${misc:Depends}, ${shlib:Depends}
Description: A libre 3do emulator 
