Source: 3doh
Section: games
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 libc6-dev,
 libc6-dev-i386,
 g++-multilib,
 zlib1g-dev
Standards-Version: 3.9.7
Homepage: https://github.com/ProfessorKaos64/3doh

Package: 3doh
Architecture: amd64
Depends: ${misc:Depends}, ${shlib:Depends}
Description: A libre 3do emulator 
