Source: tdm
Section: games
Priority: optional
Build-Depends: debhelper
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Vcs-Git: https://github.com/ProfessorKaos64/tdm
Homepage: http://thedarkmod.com

Package: tdm
Architecture: i386
Depends: ${misc:Depends},
 ${shlibs:Depends},
 python,
 libasound2,
 libjpeg62-turbo,
 libwxgtk3.0,
 libxml2,
 libsigc++-2.0,
 libpng12,
 libftgl,
 libglew,
 libboost,
 libboost-regex,
 libboost-filesystem,
 libboost-python,
 libboost-test,
 libalut,
 libvorbis,
 zip
Description: The Dark Mod is a fan-made game in the style of the original Thief.
 This is a virtual package that provides run-time depedencies. The pacakge will run the
 updater after installation, and create the necessary links and shortcuts.
