Source: tdm
Section: games
Priority: optional
Build-Depends: debhelper
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Vcs-Git: https://github.com/ProfessorKaos64/tdm
Homepage: http://thedarkmod.com

Package: tdm
Architecture: i386
Depends: ${misc:Depends},
 ${shlibs:Depends},
 python,
 libasound2,
 libjpeg62-turbo,
 libwxgtk3.0-0,
 libpng12-0,
 libsigc++-2.0-0c2a,
 libftgl2,
 libglew1.10,
 libboost-regex1.55.0,
 libboost-filesystem1.55.0,
 libboost-python1.55.0,
 libboost-test1.55.0,
 libalut0,
 libvorbis0a,
 lsb-release,
 wget,
 unzip,
 zip
Description: The Dark Mod is a fan-made game in the style of the original Thief.
 This is a virtual package that provides run-time depedencies. The pacakge will run the
 updater after installation, and create the necessary links and shortcuts.
