#!/usr/bin/make -f
# See: ./linuxBuild.sh

LINK_DEST="/usr/games/thedarkmod.x86"

%:
	dh $@

override_dh_installdirs:
	dh_installdirs /usr/games/darkmod
	dh_installdirs /usr/share/games/darkmod

override_dh_link:
	# evaluate
	ifeq ($(shell lsb_release -is),SteamOS)
		LINK_TARGET="/home/steam/darkmod/thedarkmod.x86"
	else
		LINK_TARGET="/usr/share/games/darkmod/thedarkmod.x86"
	endif
	# create links
	dh_link ${LINK_TARGET} ${LINK_DEST}
