[Desktop Entry]
Version=1.0
Name=The Dark Mod
GenericName=The Dark Mod
Type=Application
Comment=Learn more at http://thedarkmod.com
Icon=/usr/share/pixmaps/thedarkmod.png
Exec=thedarkmod
Terminal=false
Categories=Game
