#!/usr/bin/make -f

# Adjust vars in makefile
# `var  ?= VALUE'. only has an effect if the variable is not yet defined.

DESTDIR=$(CURDIR)/debian/duke-nukem-ii
GCC_VER = 5.4.0

export CC = /opt/gcc-$(GCC_VER)/bin/gcc
export CXX = /opt/gcc-$(GCC_VER)/bin/g++

%:
	dh $@

override_dh_auto_build:
	rm -rf build && mkdir build
	cd build && cmake ..
	make -j4 -C build
