#!/usr/bin/make -f

# Adjust vars in makefile
# `var  ?= VALUE'. only has an effect if the variable is not yet defined.

export CC = /usr/bin/clang-3.9
export CXX = /usr/bin/clang++-3.9

%:
	dh $@

override_dh_auto_build:
	rm -rf build && mkdir build
	cd build && cmake ..
	make -j4 -C build
