#!/usr/bin/make -f

#export DH_VERBOSE=1

# TODO:
# - Add post install step for noting installation or performing it

# presets
DESTDIR_TARGET = $(CURDIR)/debian/ges

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	rm -rf build && mkdir build
	cd build && cmake -DCMAKE_INSTALL_PREFIX=/usr ..
	make VERBOSE=1 -C build

override_dh_auto_install:
	make DESTDIR=$(DESTDIR_TARGET) install -C build
