Source: sprunge
Section: utils
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://github.com/rupa/sprunge
Vcs-Git: git://github.com/rupa/sprunge.git
Vcs-Browser: http://github.com/rupa/sprunge

Package: sprunge
Architecture: all
Depends: curl
Description: Sprunge is a command line pastebin that uses curl.
 This package was created to provide an easy way to capture output
 of commands for SteamOS. For whatever reason, piping to pastebin
 produces "Bad API request, invalid api_dev_key".
