Source: plex-media-player
Section: video
Priority: optional
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 cmake (>=3.5),
 curl,
 mpv (>=0.15),
 ninja-build,
 qtbase-opensource-src (>=5.6)
Standards-Version: 3.9.5
Homepage: https://github.com/plexinc/plex-media-player/

Package: plex-media-player
Architecture: all
Depends: ${misc:Depends}
Description: Next generation Plex client.
