Source: plex-media-player
Section: video
Priority: optional
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 cmake (>=3.1),
 curl,
 libmpv-dev (>=0.15),
 mpv (>=0.15),
 libcec3,
 libsdl2-dev,
 libcec-dev,
 ninja-build,
 python,
 qtbase5-dev (>=5.6.0~),
 qtbase5-private-dev (>=5.6.0~),
 qtdeclarative5-dev (>=5.6.0~),
 libqt5-qtwebchannel (>=5.6.0~),
 libqt5-qtwebengine (>=5.6.0~),
 libqt5xmlpatterns5 (>=5.6.0~),
Standards-Version: 3.9.5
Homepage: https://github.com/plexinc/plex-media-player/

Package: plex-media-player
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends},
 libmpv1 (>= 0.15),
 libqt5xml5 (>= 5.6.0~),
 libqt5-qtwebchannel (>= 5.6.0~),
 libqt5-qtwebengine (>= 5.6.0~),
 libsdl2-2.0-0,
 libcec-dev
Description: Next generation Plex client.
