[Desktop Entry]
Name=Plex Media Player
GenericName=Plex Media Player
X-GNOME-FullName=Next generation Plex media player
Comment=Watch your media on the big screen
Exec=plexmediaplayer
Icon=/usr/share/pixmaps/plex-media-player.png
Terminal=false
Type=Application
