#!/usr/bin/make -f

#export DH_VERBOSE=1

PKG_NAME = gcc-opt
GCC_VER = "5.4.0"
INSTALL_PREFIX= $(CURDIR)/debian/$(PKG_NAME)/opt/gcc-$(GCC_VER)
TOP = $(shell pwd)

# Fails in pbuilder build process if warning is not suppressed
# Filter out this warning
# See: https://www.gnu.org/software/make/manual/make.html#Target_002dspecific
# https://gcc.gnu.org/bugzilla/show_bug.cgi?id=48817

CFLAGS := $(filter-out -Werror=format-security,$(CFLAGS))
CXXFLAGS := $(filter-out -Werror=format-security,$(CXXFLAGS))

# --disable-shared
# -fPIC

%:
	dh $@

override_dh_auto_configure:
	# Replace var placeholders with vars
	find $(CURDIR)/debian -type f -print0 | xargs -0 sed -i "s|@GCC_VER@|$(GCC_VER)|g"
	./contrib/download_prerequisites
	rm -rf objdir && mkdir objdir
	cd objdir && $(TOP)/configure \
		--prefix=$(INSTALL_PREFIX) \
		--enable-languages=c,c++,fortran,go

override_dh_auto_build:
	make -j4 -C objdir

override_dh_auto_install:
	make -j4 -C objdir install
