Source: vaporos-trim-support2
Section: utils
Priority: optional
Maintainer: Wouter Wijsman <wwijsman@live.nl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: vaporos-trim-support2
Architecture: all
Depends: ${misc:Depends}
Description: Trim support for SteamOS
 Adds a systemd unit which will trim all SSDs once a week.
