Source: android-sdk-emulator
Section: misc
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 7),
 curl,
 openjdk-8-jre,
 openjdk-8-jdk,
 icedtea-7-plugin,
 wget
Standards-Version: 3.9.6
Homepage: http://developer.android.com/

Package: android-sdk-emulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Android SDK Emulator setup package.
 This package provides an easy and quick setup for the Android SDK
 Emulator.
 .
 Android software development is the process by which new applications
 are created for the Android operating system. Applications are usually 
 developed in Java programming language using the Android software
 development kit (SDK), but other development environments are also
 available.
