Package: hid-retrobit
Version: 1.0.0+git+SteamOS2-1
Architecture: all
Maintainer: SteamOS-Tools Signing Key
Installed-Size: 25
Depends: dkms
Section: kernel
Priority: optional
Homepage: https://github.com/retuxx/hid-retrobit
Description: Linux driver for retro-bit adapters
 hid-retrobit is a Linux driver for the retro-bit
 (sometime called Retro Link) Atari, Nintendo NES,
 SNES & Sega Genesis joystick and gamepad controller adapters.
