Source: cargo
Section: devel
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com)
Build-Depends: debhelper,
 rust,
 python,
 curl,
 cmake,
 pkg-config,
 libssl-dev,
 git,
 libssh2-1-dev
Standards-Version: 3.9.6
Homepage: https://crates.io and https://github.com/rust-lang/cargo

Package: cargo
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Rust package manager
 Cargo downloads your Rust project’s dependencies and compiles your project.
