#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_CMAKE_NORMAL_ARGS += -DENABLE_AUTOUPDATE=off -DCMAKE_BUILD_TYPE=Debug -DENABLE_DVD_DRIVE=off -DCOMPRESS_TEXTURES=on -DENABLE_UBUNTU_FFMPEG_HACK=on -DCMAKE_INSTALL_PREFIX=/opt/plexhometheater

export LD_LIBRARY_PATH := debian/plexhometheater/opt/plexhometheater/bin/system/players/dvdplayer:$(LD_LIBRARY_PATH) dh_shlibdeps
unexport LDFLAGS
