Source: godot
Section: devel
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 7),
 build-essential,
 gcc,
 pkg-config,
 python,
 libasound2-dev,
 libfreetype6-dev,
 libgl1-mesa-dev,
 libglu-dev,
 libssl-dev,
 libudev-dev,
 libx11-dev,
 libxinerama-dev,
 libxcursor-dev,
 scons
Standards-Version: 3.9.6
Homepage: http://rust-lang.org

Package: godot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Godot game engine
 Godot is a fully featured, open source, MIT licensed, game engine.
 .
 It focuses on having great tools, and a visual oriented workflow that
 can export to PC, Mobile and Web platforms with no hassle. The editor,
 language and APIs are feature rich, yet simple to learn, allowing you
 to become productive in a matter of hours.
