[Desktop Entry]
Name=godot
Comment=Ffully featured, open source, MIT licensed, game engine
Exec=/usr/bin/godot
Icon=/usr/share/pixmaps/godot.png
Terminal=false
Type=Application
Categories=Development;
