Source: phoenix
Section: games
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake (>= 3.6.0),
 qt5-qmake,
 qtbase5-dev,
 qtmultimedia5-dev,
 mesa-common-dev,
 libglu1-mesa-dev,
 libsdl2-dev,
 libsamplerate0-dev,
 libsdl2-dev
Standards-Version: 3.9.5
Homepage: https://github.com/team-phoenix/Phoenix

Package: phoenix
Architecture: all
Depends: ${misc:Depends}
Description: Phoenix is a easy-to-use front-end for Libretro/Retroarch
 This package is targeted at SteamOS.
