Source: phoenix
Section: games
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake (>= 3.6.0),
 git,
 libglu1-mesa-dev,
 libsdl2-dev,
 libqt5core5a,
 libqt5quick5,
 libqt5svg5-dev,
 libquazip5-dev,
 libsamplerate0-dev,
 libsdl2-dev,
 mesa-common-dev,
 pkg-config,
 qml-module-qtgraphicaleffects,
 qt5-qmake,
 qtbase5-dev,
 qtdeclarative5-dev,
 qtmultimedia5-dev
Standards-Version: 3.9.7
Homepage: https://github.com/team-phoenix/Phoenix

Package: phoenix
Architecture: all
Depends: ${misc:Depends}
Description: Phoenix is a easy-to-use front-end for Libretro/Retroarch
 This package is targeted at SteamOS.
