#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	rm -rf phoenix_build  && mkdir phoenix_build
	cd phoenix_build && cmake \
		-DCMAKE_BUILD_TYPE=Debug \
		-DCMAKE_EXPORT_COMPILE_COMMANDS=on \
		-DCMAKE_INSTALL_PREFIX=/usr ..
	make -C phoenix_build
