#!/usr/bin/make -f

# See :https://github.com/team-phoenix/Phoenix/issues/313
# For some reason, the cmake build directory *must* be outside of the
# source directory.
# Out of tree builds are how Qt Creator does it, it allows for multiple build 
# configurations to coexist without overwriting each other. 

# Set the path to the source code files
SRC_CODE = $(shell pwd)

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	rm -rf phoenix_build && mkdir phoenix_build
	cd phoenix_build && cmake \
		-Wdev \
		-check-system-vars \
		--debug-output \
		-DCMAKE_BUILD_TYPE=Debug \
		-DCMAKE_EXPORT_COMPILE_COMMANDS=on \
		-DCMAKE_INSTALL_PREFIX=/usr $(SRC_CODE)
	make VERBOSE=1 -C phoenix_build
