#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	rm -rf build  && mkdir build
	cd build && cmake \
		-DCMAKE_BUILD_TYPE=Debug \
		-DCMAKE_EXPORT_COMPILE_COMMANDS=on \
		-DCMAKE_INSTALL_PREFIX=/usr ..
	make -C build
