Source: qtbase-opensource-src
Section: devel
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 dpkg-dev (>= 1.16.1),
 firebird-dev [kfreebsd-any linux-any],
 freetds-dev,
 gdb,
 libasound2-dev [linux-any],
 libatspi2.0-dev,
 libcups2-dev,
 libdbus-1-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libgbm-dev [linux-any],
 libgl1-mesa-dev | libgl-dev,
 libgles2-mesa-dev [linux-any] | libgles2-dev [linux-any],
 libglib2.0-dev,
 libglu1-mesa-dev | libglu-dev,
 libgstreamer-plugins-base1.0-dev,
 libgstreamer1.0-dev,
 libgtk2.0-dev,
 libharfbuzz-dev,
 libicu-dev,
 libinput-dev [linux-any],
 libjpeg-dev,
 libmtdev-dev [linux-any],
 libmysqlclient-dev,
 libpcre3-dev,
 libpng-dev,
 libpq-dev,
 libproxy-dev,
 libpulse-dev,
 libsqlite3-dev,
 libssl-dev,
 libudev-dev [linux-any],
 libx11-dev,
 libx11-xcb-dev,
 libxcb-icccm4-dev,
 libxcb-image0-dev,
 libxcb-keysyms1-dev,
 libxcb-glx0-dev,
 libxcb-randr0-dev,
 libxcb-render-util0-dev,
 libxcb-render0-dev,
 libxcb-shape0-dev,
 libxcb-shm0-dev,
 libxcb-sync-dev,
 libxcb-xfixes0-dev,
 libxcb-xinerama0-dev,
 libxcb-xkb-dev,
 libxcb1-dev,
 libxext-dev,
 libxfixes-dev,
 libxi-dev,
 libxkbcommon-dev,
 libxkbcommon-x11-dev,
 libxrender-dev,
 openssl,
 perl,
 python, 
 pkg-kde-tools,
 publicsuffix,
 unixodbc-dev,
 zlib1g-dev
Build-Conflicts: libmariadbclient-dev
Standards-Version: 3.9.7
Homepage: http://qt-project.org/
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/qt/qtbase.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-kde/qt/qtbase.git

Package: qtbase-opensource-src
Architecture: any
Multi-Arch: same
Section: devel
Depends: ${misc:Depends}
Description: Qt 5 catch-all package
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains all files under qtbase. This will remain until
 the individual package installs are worked out.
 .
 If you are interested in packaging Qt 5 stuff please take a look at
 http://pkg-kde.alioth.debian.org/packagingqtbasedstuff.html
