Source: ut4
Section: games
Priority: optional
Build-Depends: debhelper,
 lsb-release
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Homepage: https://github.com/EpicGames/UnrealTournament

Package: ut4
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: Unreal Tournament is an upcoming first-person shooter video game developed by Epic Games
 See: https://forums.unrealtournament.com/showthread.php?12011-Unreal-Tournament-Pre-Alpha-Playable-Build
