[Desktop Entry]
Version=1.0
Name=The Dark Mod
GenericName=The Dark Mod
Type=Application
Comment=Launcher script for The Dark Mod
Icon=/usr/share/pixmaps/thedarkmod.png
Exec=darkmod
Terminal=false
Categories=Game
