#!/usr/bin/make -f
# See: ./linuxBuild.sh

LINK_DEST="/usr/games/ut4"

# evaluate (DO NOT INDENT ifeq / else / endif directives)
ifeq ($(shell lsb_release -is),SteamOS)
LINK_TARGET="/home/steam/ut4-linux/ut4"
UT4_BASE_DIR="/home/steam/ut4-linux"
USER="steam"
else
LINK_TARGET="/usr/share/games/ut4-linux/ut4"
UT4_BASE_DIR="/usr/share/games"
endif

UT4_VERSION="2883976"
URL="https://s3.amazonaws.com/unrealtournament"
UT4_ZIP="UnrealTournament-Client-XAN-${UT4_VERSION}-Linux.zip"
UT4_BIN_DIR="${UT4_BASE_DIR}/LinuxNoEditor/Engine/Binaries/Linux/"
UT4_EXEC="./UE4-Linux-Test UnrealTournament -SaveToUserDir"

%:
	dh $@

override_dh_install:
	# Obtain and unpack UT4 Linux files
	wget -O "${UT4_BASE_DIR}/${ut4_zip}" "${URL}/${UT4_ZIP}" -q -nc --show-progress
	unzip -d "${UT4_BASE_DIR}" "${UT4_BASE_DIR}/${UT4_ZIP}"

override_dh_installdirs:
	dh_installdirs /usr/games/ut4
	dh_installdirs /usr/share/games/ut4

override_dh_fixperms:
	dh_fixperms
	# This should* work to modify (based on the ifeq above) the base dir to change the perms
	# to the "steam" user, but if SteamOS is not present, USER would be the typical root
	chown -R ${USER}:${USER} ${UT4_BASE_DIR}
	chmod 755 ${UT4_BIN_DIR}/${UT4_EXEC}

override_dh_link:
	# create links
	dh_link ${LINK_TARGET} ${LINK_DEST}
