Source: libretro-lutro
Section: games
Priority: optional
Maintainer: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/libretro/libretro-lutro

Package: libretro-lutro
Architecture: any
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for Lutro
 This wrapper makes Lutro API compatible with libretro, thus allowing its
 use with libretro frontends, such as RetroArch.
 .
 Lutro is a lua game framework for libretro following the LÖVE API. 
