
Source: koku-xinput-wine
Section: utils
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends:	debhelper (>= 9),
 libsdl1.2-dev,
 cmake,
 dpatch,
 libstdc++-4.9-dev | lib32stdc++-4.9-dev
Standards-Version: 3.9.5
Homepage: https://github.com/ProfessorKaos64/koku-xinput-wine

Package:koku-xinput-wine
Architecture: i386
Depends: ${misc:Depends},
	 libsdl1.2debian	 
Description: Adds xinput support to wine, without changing the source of wine.
 Package targeted at use on SteamOS.
