# This service file uses instances
# "execstart=exec /usr/local/%i" but not "execstart=/usr/local/%i

# It needs to be started as so (e.g. 2 gamepads):
# systemctl start molten-gamepad.service@2.service

[Unit]
Description=MoltenGamepad for Gamepad %I
After=network.target
After=bluetooth.target

[Service]
User=steam
Type=forking
Environment="XDG_CONFIG_HOME=/etc/moltengamepad"
PIDFile=/var/run/moltengamepad/pid
ExecPre=`if pgrep moltengamepad; then echo "moltengamepad is already running"; exit; fi`
#ExecStart=/usr/bin/moltengamepad --daemon --num-gamepads %i
ExecStart=/usr/bin/moltengamepad \
		--daemon --pidfile /var/run/moltengamepad/pid \
		--replace-fifo --fifo-path /var/run/moltengamepad/fifo \
		--make-socket --socket-path /var/run/moltengamepad/socket
ExecStop=/usr/bin/kill $MAINPID
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=default.target
