Source: xenia
Section: games
Priority: optional
Build-Depends: debhelper,
 build-essential,
 cmake,
 clang-3.8,
 clang-format-3.8,
 git,
 llvm-3.8-dev,
 python-dev,
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.8
Homepage: https://github.com/benvanik/xenia

Package: xenia
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xenia is an experimental emulator for the Xbox 360. 
