#!/usr/bin/make -f

# Some workarounds for broken shit...
export SYSCONFDIR ?= etc
export DATADIR ?= share

# Set compiler vars
export CC = clang-3.8
export CXX = clang++-3.8

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	# Lint
	./xenia-build lint --all
	# Build
	./xenia-build build
