[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenJK Multi Player
Comment="Open Source Jedi Knight II + III Engine - Multi Player"
Exec=openjk_mp
Icon=/usr/share/pixmaps/openjk.png
Terminal=false
StartupNotify=false
Categories=Game
