#!/usr/bin/make -f
%:
	dh $@

INSTALL_PATH = $(CURDIR)/debian/usr/share/games/openjk/

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_INSTALL_PREFIX=$(INSTALL_PATH) \
	..

override_dh_auto_build:
	make -C build

override_dh_auto_install:
	make DESTDIR=$(INSTALL_PATH) -C build install
