#!/usr/bin/make -f
%:
	dh $@

# Install the build files into /usr/share/games/openjk/
# Base game files then go into /usr/share/games/openjk/base
# CMakeModules/InstallConfig.cmake sets the project dir to JediAcademy
# by default, not openjk, which is fine since we make symlinks

# The way this build is designed, you can't set DESTDIR, or 
# You will end up with <DCMAKE_INSTALL_PREFIX>/${PWD}/<DESTDIR> for
# your installed files.

INSTALL_PATH = $(CURDIR)/debian/openjk/usr/share/games/openjk/

# Go ahead and build OpenJO (Jedi Outcast) as well
override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DCMAKE_BUILD_TYPE=Release \
	-DBuildJK2SPEngine=ON \
	-DBuildJK2SPGame=ON \
	-DBuildJK2SPRdVanilla=ON \
	-DCMAKE_INSTALL_PREFIX=$(INSTALL_PATH) \
	..

override_dh_auto_build:
	make -C build

override_dh_auto_install:
	make -C build install
