Source: zsdx
Section: games
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 7),
 cmake (>= 2.8.11),
 solarus,
 zip
Standards-Version: 3.9.7
Homepage: http://www.zsdx-games.org/games/zelda-mystery-of-zsdx-dx/

Package: zsdx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: zsdx game engine
 zsdx is an open-source Zelda-like 2D game
 .
 This package contains the data files of the game Zelda: 
 Mystery of Solarus DX. This quest is a free, open-source 
 game that works with Solarus, an open-source Zelda-like 
 2D game engine. To play this game, you need Solarus.

