#!/usr/bin/make -f

DEB_PYTHON2_MODULE_PACKAGES=lutris
export PYBUILD_NAME=lutris

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Override dh_clean etc, building in pbuilder

%:
	dh $@ --with python2 --buildsystem=pybuild
