#!/usr/bin/make -f

# Adjust vars in makefile
# `var  ?= VALUE'. only has an effect if the variable is not yet defined.

export prefix = /usr
export bindir = /usr/games
export DESTDIR=$(CURDIR)/debian/ftequake

%:
	dh $@

override_dh_auto_build:
	# build OpenGL, Vulkan, and server targets (build debug targets as well)
	$(MAKE) -C engine gl-rel vk-rel sv-rel gl-dbg vk-dbg sv-dbg -j4

override_dh_auto_install:
	# install OpenGL, Vulkan, and server targets
	$(MAKE) -C engine install
