Source: decaf
Section: games
Priority: optional
Build-Depends: cmake,
 debhelper (>=9),
 clang-5.0,
 libc++-dev,
 libglu1-mesa-dev,
 libsdl2-dev,
 libx11-dev,
 libxcursor-dev,
 llvm-5.0,
 xorg-dev,
 valgrind,
 zlib1g-dev
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.6
Homepage: https://decaf.wordpress.com

Package: decaf
Architecture: amd64
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: Researching Wii U emulation. 
 .
 Licensed under the terms of the GNU General 
 Public License, version 2 or later (GPLv2+). 
 You can find us at #wiiu-emu on freenode.
