[Desktop Entry]
Version=1.0
Name=decaf (SDL)
GenericName=decaf-sdl
Type=Application
Icon=/usr/share/pixmaps/decaf.png
Exec=decaf-sdl
Keywords=game;emulator;
Terminal=false
Categories=Game
