[Desktop Entry]
Version=1.0
Name=decaf
GenericName=decaf
Type=Application
Icon=/usr/share/pixmaps/decaf.png
Exec=decaf
Keywords=game;emulator;
Terminal=false
Categories=Game
