#!/usr/bin/make -f

# Use clang
# Upstream defines use of C=++11/14 which requires Clang >= 3.6 to 
# If only c++11 was required, clang 3.5 would be fine.
# Avoid errors (see: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=800483)

export DEB_cmake_build_HARDENING="1"
export CC="/usr/bin/clang-3.8"
export CXX="/usr/bin/clang++-3.8"

%:

	dh $@

override_dh_auto_configure:
	# Generate makefiles
	rm -rf cmake_build && mkdir -p cmake_build
	cd cmake_build && cmake \
		-DDECAF_VALGRIND=ON \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_C_COMPILER="/usr/bin/clang-3.8" \
		-DCMAKE_CXX_COMPILER="/usr/bin/clang++-3.8" \
		-DCMAKE_C_FLAGS="-Wall -std=c99" \
		-DCMAKE_CXX_FLAGS="-O2 -g -stdlib=libc++" ..
	# cmake_build
	make -C cmake_build -j4
