Source: minecraft
Section: games
Priority: extra
Maintainer: ProfessorKaos64 <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://minecraft.net/

Package: minecraft
Architecture: all
Depends: ${misc:Depends},
 openjdk-7-jre
Description: Minecraft for Linux/SteamOS
 Simple package to add Minecraft to SteamOS
