Source: lgogdownloader
Section: utils
Priority: optional
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends:	debhelper (>= 9),
libcurl,
liboauth,
librhash,
jsoncpp,
htmlcxx,
tinyxml,
boost,
help2man

Standards-Version: 3.9.5
Homepage: https://github.com/Sude-/lgogdownloader

Package:ds4drv
Architecture: all
Depends: ${shlibs:Depends},
	 ${misc:Depends}
Description: lgogdownloader is an unofficial GOG downloader.
 This package installs lgogdownloader for SteamOS Brewmaster users.
