Source: mari0
Section: games
Priority: extra
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 dh-lua,
Standards-Version: 3.9.5
Homepage: https://github.com/Stabyourself/mari0

Package: mari0
Architecture: all
Depends: ${lua:Depends}, ${misc:Depends}
Description: Mari0 is a fun take on Mario+Portal. Ported to SteamOS.
 The original code belongs to Stabyourself.net
