#!/usr/bin/make -f

# include FILENAME

%:
	# dh $@ --with javahelper

# override_dh_auto_build:

# override_dh_auto_test:

# override_dh_auto_configure:

# override_dh_auto_install:

	#install -m 644 -t $(CURDIR)/debian/file 

# override_dh_strip:

# override_dh_builddeb:

# get-orig-source:

# override_dh_auto_clean:
