#!/usr/bin/make -f

# main packaging script based on dh7 syntax
%:
         dh $@ 

# include FILENAME.extension

#------------------------------------------------------------------------------------------------------
# Help notes:
# See: https://www.debian.org/doc/manuals/debian-faq/ch-pkg_basics.en.html
#------------------------------------------------------------------------------------------------------

# clean target: to clean all compiled, generated, and useless files in the build-tree. (Required)
# build target: to build the source into compiled programs and formatted documents in the build-tree. (Required)
# build-arch target: to build the source into arch-dependent compiled programs in the build-tree. (Required)
# build-indep target: to build the source into arch-independent formatted documents in the build-tree. (Required)
# install target: to install files into a file tree for each binary package under the debian directory. 
#                 If defined, binary* targets effectively depend on this target. (Optional)
# binary target: to create all binary packages (effectively a combination of binary-arch and binary-indep targets). (Required)
# binary-arch target: to create arch-dependent (Architecture: any) binary packages in the parent directory. (Required)
# binary-indep target: to create arch-independent (Architecture: all) binary packages in the parent directory. (Required)
# get-orig-source target: to obtain the most recent version of the original source package from an upstream archive. (Optional)

#------------------------------------------------------------------------------------------------------

###############################
# OVERRIDES:
###############################

# override_dh_auto_build:

# override_dh_auto_test:

# override_dh_auto_configure:

# override_dh_auto_install:

	#install -m 644 -t $(CURDIR)/debian/file 

# override_dh_strip:

# override_dh_builddeb:

# override_dh_auto_clean:

#------------------------------------------------------------------------------------------------------
# End help text
#------------------------------------------------------------------------------------------------------
