Source: rustc
Section: devel
Priority: extra
Maintainer: Micahel DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 7),
 autotools-dev,
 binutils-multiarch,
 cmake (>= 3.4.3),
 curl,
 file,
 gcc,
 g++,
 git,
 gperf,
 libedit-dev,
 llvm-3.9-dev,
 llvm-3.9-tools,
 python,
 pandoc,
 nodejs,
 po4a,
 valgrind,
 zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://rust-lang.org

Package: rustc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rust compiler and tools
 Compiler, libraries and tools for the Rust programming language.
