#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# src/rust/src/compiler-rt/make/platform/clang_linux.mk only exports LANG
# when parsing the output of gcc -v. Let us set LC_ALL as well.
export LANG=C LC_ALL=C

# Specifying compilers during configure stage:
# CC=gcc-4.9 CXX=g++-4.9

%:
	dh $@ 

override_dh_auto_configure:
	./configure --prefix=/usr --disable-rpath

#override_dh_auto_test:
#	# make test started to fail so skip
#	true
