Source: snes9x
Section: games
Priority: optional
Maintainer: Micahel DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9), 
 zlib1g-dev
Standards-Version: 3.9.7
Homepage: http://www.snes9x.com

Package: snes9xsnes9x
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for Snes9x
 Snes9x is a portable, freeware Super Nintendo Entertainment System (SNES)
 emulator written in C++. It basically allows you to play most games designed
 for the SNES and Super Famicom Nintendo game systems on your PC or Workstation.
 .
 Super NES and Super Nintendo Entertainment System are trademarks of
 Nintendo Co., Limited and its subsidiary companies.
