[Desktop Entry]
Version=1.0
Name=snes9x (GTK)
GenericName=SNES-9x GTK
Type=Application
Icon=/usr/share/pixmaps/snes9x.png
Exec=snes9x-gtk
Keywords=game;emulator;
Terminal=false
Categories=Game
