Source: libretro-catsfc
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/ShadauxCat/CATSFC

Package: libretro-catsfc
Architecture: any
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for CATSFC
 This wrapper makes CATSFC API compatible with libretro, thus allowing its use
 with libretro frontends, such as RetroArch.
 .
 CATSFC is a Super Nintendo emulator for the Supercard DSTWO. It is based in
 Snes9x 1.43, by the Snes9x team (with research by the ZSNES folks, anomie,
 zsKnight, etc.), NDSSFC 1.06, by the Supercard team (porting to the MIPS
 processor) and BAGSFC, by BassAceGold (improving over NDSSFC).
 .
 Super Nintendo is a registered trademark of Nintendo of America Inc. CATSFC
 is not affiliated with or endorsed by any of the companies mentioned.
