Source: vkquake
Section: games
Priority: optional
Build-Depends: cmake (>= 3.1),
 debhelper,
 gcc,
 libsdl2-dev,
 libvulkan-dev
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.8
Homepage: https://github.com/Novum/vkQuake

Package: vkquake
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: vkqake is an port of Quake to the Vulkan API.
