#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	mkdir build && cd build
	cd build && cmake -DCMAKE_INSTALL_PREFIX=/usr \
			-DUSE_SDL_2=ON \
			-DWITH_XTEST=ON \
			-DWITH_UINPUT=ON \
			-DAPPDATA=ON \
			-DUSE_SDL_2=ON ..
	make -C build

override_dh_auto_install:
	make -C build install
