#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	#dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DUSE_SDL_2=OFF
	# Use the line below to create package that uses SDL 2
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr \
				-DUSE_SDL_2=ON \
				-DWITH_XTEST=ON \
				-DWITH_UINPUT=ON \
				-DAPPDATA=ON
