Source: dnf
Section: devel
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Priority: extra
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 cmake,
 bash-completion,
 python3-nose,
 python3-sphinx
Homepage:https://github.com/rpm-software-management/dnf

Package: dnf
Architecture: all
Depends: python, ${misc:Depends}, ${python3:Depends},
 hawkey,
 libcomps,
 librepo,
 rpm,
 python3,
 python3-iniparse,
 python3-pygpgme
Description: Next upcoming major version of Yum. 
 It does package management using RPM, libsolv and
 hawkey libraries. For metadata handling and package
 downloads it utilizes librepo. To process and
 effectively handle the comps data it uses libcomps.
