#!/usr/bin/make -f

# TODO: figure out why tests fail
# Tests seem to need a non-empty RPM database installed on the system

%:
	dh $@


override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake -DCMAKE_BUILD_TYPE=Release  \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DPYTHON_DESIRED=3 \
	..

override_dh_auto_build:
	make -C build
	make -C build doc-man
	make -C build/tests

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/dnf -C build install
	# Remove yum.8, conflicts with yum package
	rm -f "$(CURDIR)/debian/dnf/usr/share/man/man8/yum.8"
	# This build also makes a yum binary, leave that to Debian maintainers
	# for obvious reasons
	rm -f "$(CURDIR)/debian/dnf/usr/bin/yum"

override_dh_auto_test:
