Source: node-grunt-cli
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders:   SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends:
 debhelper (>= 8)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.6
Homepage: http://gruntjs.com/
Vcs-Git: git://anonscm.debian.org/pkg-javascript/node-grunt-cli.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-javascript/node-grunt-cli.git
XS-Testsuite: autopkgtest

Package: node-grunt-cli
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-findup-sync (>= 0.1.0)
 , node-resolve (>= 0.3.1)
 , node-nopt (>= 1.0.10)
Description: The grunt command line interface.
 Converted Debain package using npm2deb
 .
 Node.js is an event-based server-side JavaScript engine.
