Source: nfs2se
Section: devel
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9.20141010~),
 gcc:i386,
 libsdl2-dev:i386
Standards-Version: 3.9.8
Homepage: https://github.com/zaps166/NFSIISE/

Package: nfs2se
Architecture: i386
Depends: ${misc:Depends}, ${shlibs:Depends},
 libdrm2:i386,
 libglapi-mesa:i386,
 libgl1-mesa-dri:i386
Description: NFSII SE Linux Engine Port
