#!/usr/bin/make -f

export CPU_FLAGS=-mno-sse2 -mno-sse -mno-mmx
export CC=gcc
export C_FLAGS=-Wall -m32 -O2 $(CPU_FLAGS)
export STRIP=-s
export LIB32_DIR=/usr/lib/i386-linux-gnu/

%:
	dh $@

#override_dh_installdirs:
#	dh_installdirs "/usr/share/games/Need For Speed II SE"

override_dh_auto_build:
	# build
	# Need two $$ for $ to appear 
	cd src/ && $(CC) $(C_FLAGS) -DSTACK_REALIGN -c *.c && \
	ld -m elf_i386 -dynamic-linker /lib/ld-linux.so.2 -o "../Need For Speed II SE/nfs2se" \
	*.o game-obj/NFS2SE.Linux.o -L$(LIB32_DIR) -lc -lSDL2 -lGL $(STRIP) -rpath=$$ORIGIN -e start \
	&& echo "Compile and linking OK!"
	# cleanup
	find $(CURDIR) -name *.o -exec rm -f "{}" \;

override_dh_auto_install:
	dh_auto_install
	install -m 644 "Need For Speed II SE" /usr/share/games/
	install -m 644 "Need For Speed II SE/nfs2se.desktop" /usr/share/applications/
	install -m 644 "Need For Speed II SE/nfs2se.png" /usr/share/pixmaps/
