#!/usr/bin/make -f

export CPU_FLAGS=-mno-sse2 -mno-sse -mno-mmx
export CC=gcc
export C_FLAGS=-Wall -m32 -O2 $(CPU_FLAGS)
export STRIP=-s
export LIB32_DIR=/usr/lib/i386-linux-gnu/
export GAME_DIR=Need For Speed II SE
export DEBUG_ASM=-g dwarf2

%:
	dh $@

override_dh_auto_build:
	# build and link
	# Need two $$ for $ to appear on $ORIGIN
	cd src/ && $(CC) $(C_FLAGS) -DSTACK_REALIGN -c *.c && \
	yasm -f elf32 Asm/NFS2SE.asm -o NFS2SE.Linux.o $(DEBUG_ASM) && \
	ld -m elf_i386 -dynamic-linker /lib/ld-linux.so.2 -o "../Need For Speed II SE/nfs2se" \
	*.o -L$(LIB32_DIR) -lc -lSDL2 -lGL $(STRIP) -rpath=$$ORIGIN -e start \
	&& echo "Compile and linking OK!"
	# cleanup
	find $(CURDIR) -name *.o -exec rm -f "{}" \;
	# debian/install hates spaces, for... reassons.. workaround this
	mv "Need For Speed II SE" "need-for-speed-ii-se"
