Source: libretro-dolphin
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9), 
 cmake,
 clang(>= 5.0),
 llvm(>= 5.0),
 libvulkan-dev
Standards-Version: 3.9.8
Homepage: https://github.com/libretro/dolphin

Package: libretro-dolphin
Architecture: amd64
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for Dolphin
 This wrapper makes Dolphin core API compatible with libretro, thus
 allowing its use with libretro frontends, such as RetroArch.
 .
 Dolphin is a GameCube and Wii emulator.
 .
 Game compatibility is very good: a lot of GameCube and Wii titles work, but
 the emulator might require a lot of processing power in order to run some
 games at full speed.
 .
 GameCube and Wii are registered trademarks of Nintendo of America Inc.
 Dolphin is not affiliated with or endorsed by the company mentioned.
 
