Source: libretro-dolphin
Section: games
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/libretro/beetle-gba-libretro

Package: libretro-dolphin
Architecture: any
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for the Beetle GBA core
 This wrapper makes Dolphin core API compatible with libretro, thus allowing
 its use with libretro frontends, such as RetroArch.
