Source: solarus
Section: devel
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 7),
 cmake (>= 2.8.11),
 libsdl2-dev (>= 2.0.1),
 libsdl2-image-dev,
 libsdl2-ttf-dev (>= 2.0.12),
 libluajit-5.1-dev, 
 libphysfs-dev,
 libopenal-dev,
 libmodplug-dev (>= 0.8.8.4),
 qtbase5-dev (>=5.2.0~),
 qttools5-dev (>=5.2.0~),
 qttools5-dev-tools (>=5.2.0~),
 libvorbis-dev
Suggests: zsdx, zsxd
Standards-Version: 3.9.7
Homepage: http://www.solarus-games.org/games/zelda-mystery-of-solarus-dx/

Package: solarus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: solarus game engine
 Solarus is an open-source Zelda-like 2D game engine
 .
 Solarus is an open-source Zelda-like 2D game engine written in C++. 
 It can run games scripted in Lua. This engine is used by our Zelda 
 fangames. Solarus is licensed under GPL v3.
