Source: doom64ex
Section: games
Priority: optional
Build-Depends: cmake,
 debhelper,
 libsdl2-dev,
 libsdl2-net-dev,
 zlib1g-dev,
 libpng12-dev,
 libfluidsynth-dev
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.7
Vcs-Git: https://github.com/svkaiser/Doom64EX
Homepage: https://doom64ex.wordpress.com

Package: doom64ex
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: Reverse-engineered Doom64 with improvements.
 .
 Doom64EX is a reverse-engineering project aimed to recreate 
 Doom64 as close as possible with additional modding features.
