#!/usr/bin/make -f

# upstream now uses gcc5
# Older distros, such as Debian Jessie, do not have this

export DEB_BUILD_HARDENING=1
export CC=clang-3.8
export CXX=clang++-3.8

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir -p build
	cd build && cmake .. && make
