Source: dnf-plugins-core
Section: devel
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Priority: extra
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 cmake,
 python-sphinx
Homepage: https://github.com/rpm-software-management/dnf-plugins-corek/

Package: dnf-plugins-core
Architecture: all
Depends: python, ${misc:Depends}, ${python:Depends},
 dnf,
 python
Description: Experimental plugins to use with DNF package manager.
