#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake \
		-DCMAKE_BUILD_TYPE=Release  \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DPYTHON_DESIRED=3 \
		..

override_dh_auto_build:
	make -C build
	# sphinx-build fails with non UTF-8 locales
	make -C build LC_ALL=en_US.UTF-8 doc-man

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/dnf-plugins-core -C build install

override_dh_auto_test:
	PYTHONPATH=./plugins nosetests -s tests
