Source: ftequake
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Section: games
Priority: optional
Build-Depends:
 build-essential,
 debhelper (>= 9~),
 libjpeg-dev,
 libogg-dev,
 libpng-dev,
 libvorbis-dev,
 libvulkan-dev,
 zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://github.com/Novum/ftequake

Package: ftequake
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: engine for iD software's Quake games.
 FTE QuakeWorld is a QuakeWorld derivative which mainly 
 focuses on modding and additional features for both users 
 and servers. Supports NetQuake gamecode and protocol, 
 Hexen 2/Quake 2/Quake 3 maps and models, many QuakeC 
 builtin extensions, and more.
