[Desktop Entry]
Name=FTE Quake
Comment=FTE Quake
Exec=/usr/games/fteqw.gl
Icon=/usr/share/pixmaps/ftequake.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
