#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	make -C engine clean

override_dh_auto_build:
	make -C engine sv-rel -j4
	make -C engine gl-rel -j4
	engine/release/fteqw.sv -nohome -basedir ~/quake
	engine/release/fteqw.gl -nohome -basedir ~/quake
