#!/usr/bin/make -f

ifeq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
maybe_debug = DEBUG=0
else
maybe_debug = DEBUG=1
endif

%:
	dh $@

override_dh_auto_clean:
	make -C engine clean

override_dh_auto_build:
	$(MAKE) -C engine sv-rel -j4 PREFIX=/usr
	$(MAKE) -C engine gl-rel -j4 PREFIX=/usr
	
override_dh_auto_install:
	$(MAKE) install
