Source: libcomps
Section: devel
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Priority: extra
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 cmake,
 check,
 doxygen,
 libexpat1-dev,
 libxml2-dev,
 python-all-dev
Homepage:https://github.com/rpm-software-management/libcomps

Package: libcomps
Architecture: all
Depends: python, ${misc:Depends}, ${python:Depends},
 expat,
 libxml2
Description: Libcomps is alternative for yum.comps library.
 It's written in pure C as library and there's 
 bindings for python2 and python3.
