#!/usr/bin/make -f

# gcc seems to be too old, cannot build tests
# unreferenced functions with gcc-4.9

#(.text+0x4dd): undefined reference to `__pthread_register_cancel'
#(.text+0x511): undefined reference to `__pthread_unregister_cancel'
#(.text+0x8e5): undefined reference to `timer_create'
#(.text+0x92a): undefined reference to `timer_settime'
#(.text+0x959): undefined reference to `timer_delete'


DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake -DCMAKE_BUILD_TYPE=Release \
			-DCMAKE_INSTALL_PREFIX=/usr \
			-DPYTHON_DESIRED=3 \
			-Wno-dev \
			../libcomps
	# Install places libs/pkgconfig in /usr/lib64, which is not per the new
	# spec /usr/lib/<triplet>, e.g. /usr/lib/x86_64-linux-gnu
	# There does not appear to be a CMakeCache entry to change this
	sed -i "s/lib64/lib\/$(DEB_HOST_MULTIARCH)/g" $(CURDIR)/build/src/cmake_install.cmake

override_dh_auto_build:
	make -C build

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/libcomps -C build install

override_dh_auto_test:
