#!/usr/bin/make -f

# gcc seems to be too old, cannot build tests
# unreferenced functions with gcc-4.9

#(.text+0x4dd): undefined reference to `__pthread_register_cancel'
#(.text+0x511): undefined reference to `__pthread_unregister_cancel'
#(.text+0x8e5): undefined reference to `timer_create'
#(.text+0x92a): undefined reference to `timer_settime'
#(.text+0x959): undefined reference to `timer_delete'

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake -DCMAKE_BUILD_TYPE=Release \
			-DCMAKE_INSTALL_PREFIX=/usr \
			-Wno-dev \
			../libcomps
	make -C build 

override_dh_auto_build:
	make -C build

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/libcomps -C build install

override_dh_auto_test:
