Source: openpht
Section: universe/video
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: cmake (>= 2.8.8), debhelper (>= 9),
 cdbs,
 unzip,
 libboost-dev,
 zip,
 libgles2-mesa-dev [armel] | libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev | libglu-dev,
 libglew-dev,
 libmad0-dev,
 libjpeg-dev,
 libsamplerate-dev,
 libogg-dev,
 libvorbis-dev,
 libfreetype6-dev,
 libfontconfig-dev,
 libbz2-dev,
 libfribidi-dev,
 libsqlite3-dev,
 libasound2-dev | libasound-dev,
 libpng12-dev | libpng-dev,
 libpcre3-dev,
 liblzo2-dev,
 libcdio-dev,
 libsdl-dev,
 libsdl-image1.2-dev,
 libsdl-mixer1.2-dev,
 libenca-dev,
 libjasper-dev,
 libxt-dev,
 libxmu-dev,
 libcurl4-gnutls-dev | libcurl-dev,
 libdbus-1-dev,
 libpulse-dev,
 libavahi-common-dev,
 libavahi-client-dev,
 libxrandr-dev,
 libmpeg2-4-dev,
 libass-dev (>= 0.9.8),
 libflac++-dev,
 libflac-dev,
 zlib1g-dev,
 libsmbclient-dev,
 libiso9660-dev,
 libssl-dev,
 libvdpau-dev,
 libmicrohttpd-dev,
 libmodplug-dev,
 librtmp-dev,
 curl,
 libyajl-dev,
 libboost-thread-dev,
 libboost-system-dev,
 libomxil-bellagio-dev [armel],
 libplist-dev,
 libcec-dev (>= 2.1),
 libudev-dev,
 libshairport-dev,
 libtiff5-dev | libtiff4-dev | libtiff-dev,
 libtinyxml-dev (>= 2.6.2),
 libmp3lame-dev,
 libva-dev,
 yasm 
# libavcodec-dev (>= 0.10),
# libavfilter-dev (>= 0.10),
# libavformat-dev (>= 0.10),
# libavutil-dev (>= 0.10),
# libpostproc-dev (>= 0.10),
# libswscale-dev (>= 0.10),
# libswresample-dev (>= 0.10),
# libavdevice-dev (>= 0.10)
 
Package: openpht
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ttf-ubuntu-font-family, libshairport1 | libshairport2, libcec (>= 2.1) | libcec2, libplist1 | libplist2
Description: The most awesome Media Center you'll ever need.
  Find more info at http://plexapp.com/
