Source: mastodon
Section: other
Priority: extra
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 build-essential,
 libpq-dev,
 libxml2-dev,
 libxslt1-dev,
 nodejs,
 npm,
 ffmpeg
Standards-Version: 3.9.7
Homepage: https://github.com/Gargron/mastodon

Package: mastodon
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Social network
