#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	npm install -g npm@3
	npm install -g yarn
	cp Gemfile/mastodon/Gemfile debian/mastodon
	cp Gemfile.lock debian/mastodon/Gemfile.lock
	bundle install --deployment --without test development
	cp package.json debian/mastodon/package.json
	cp yarn.lock debian/mastodon/yarn.lock
	yarn
	cp . debian/mastdon
