#!/usr/bin/make -f


ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(ARCH),armhf)
	PLATFORM=platform="armv hardfloat gles"
endif

%:
	dh $@ --parallel

override_dh_auto_configure:

override_dh_auto_build:
	$(MAKE) -f Makefile.libretro $(PLATFORM)

override_dh_auto_clean:
	$(MAKE) -f Makefile.libretro clean

override_dh_auto_install:
