[Desktop Entry]
Name=Streets of Rage Remake
Comment=A remake of the classic Streets of Rage 1, 2 and 3 by Sega. Modified for SteamOS
Encoding=UTF-8
Exec=sorr
Icon=/usr/share/pixmaps/sorr.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Game;
