[Desktop Entry]
Name=vkquake
Comment=Port of Quake I to the Vulkan API
Exec=$HOME/vkquake-launch
Icon=vkquake
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
Keywords=quake,game,First-Person-Shooter
