Source: librepo
Section: devel
Priority: optional
Build-Depends: debhelper,
 check (>= 0.10.0),
 cmake,
 doxygen,
 libattr1-dev,
 libexpat1-dev,
 libcurl4-openssl-dev,
 libgpgme11-dev, 
 libglib2.0-dev,
 libpython3-dev,
 libssl-dev,
 python3-flask,
 python3-gpgme,
 python3-nose,
 python3-pyxattr
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.7
Homepage: https://github.com/rpm-software-management/librepo

Package: librepo
Architecture: amd64
Depends: ${misc:Depends}, ${python3:Depends},
 python3
Description: Python lib for C/python download API
 librepo - A library providing C and Python (libcURL like)
 API for downloading linux repository metadata and packages
