#!/usr/bin/make -f
# See: ./linuxBuild.sh

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake \
			-DCMAKE_BUILD_TYPE=Release \
			-DCMAKE_INSTALL_PREFIX=/usr \
			-DENABLE_DOCS=OFF \
			-DPYTHON_DESIRED=3 \
			..
	# Install places libs/pkgconfig in /usr/lib64, which is not per the new
	# spec /usr/lib/<triplet>, e.g. /usr/lib/x86_64-linux-gnu
	# There does not appear to be a CMakeCache entry to change this
	sed -i "s/lib64/lib\/$(DEB_HOST_MULTIARCH)/g" $(CURDIR)/build/librepo/cmake_install.cmake

override_dh_auto_build:
	make -C build
	make -C build test

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/librepo -C build install
	
