#!/usr/bin/make -f
# See: ./linuxBuild.sh

#export CC="/usr/bin/clang-3.8"
#export CXX="/usr/bin/clang++-3.8"
#export CLANG_FORMAT="clang-format-3.8"

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	rm -rf build && mkdir build
	cd build && cmake \
			-DCMAKE_VERBOSE_MAKEFILE=ON \
			-DCMAKE_BUILD_TYPE=Release \
			-DCMAKE_INSTALL_PREFIX=/usr \
			-DENABLE_DOCS=OFF
			..
	make -C build
	make -C build test
