Package: mypackage
Version: 1.1-1
Section: utils
Priority: optional
Architecture: all
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
Depends: ${shlibs:Depends}, ${misc:Depends}
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com
Description: <insert up to 60 chars description>
  <insert long description, indented with two spaces>
