Source: hawkey
Section: devel
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Priority: extra
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 check (>= 0.10.0),
 cmake,
 bash-completion,
 libexpat1-dev,
 librpm-dev,
 libsolvext0-dev,
 libsolv0-dev,
 python-all-dev,
 python-nose,
 python-sphinx,
 rpm,
 zlib1g-dev
Homepage:https://github.com/rpm-software-management/hawkey

Package: hawkey
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 libsolv0,
 zlib1g
Description: Next upcoming major version of Yum. 
