Source: libhif
Section: devel
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Priority: extra
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 build-essential,
 cmake,
 gtk-doc-tools,
 gobject-introspection,
 libglib2.0-dev (>=2.50.2),
 libsolv0-dev (>= 0.6.21),
 libsolv-tools,
 librepo,
 librpm-dev,
 libpackagekit-glib2-dev,
 python3-dev,
 python3-sphinx
Homepage:https://github.com/rpm-software-management/libhif

Package: libhif
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 libsolv0,
Description: Provides a high level package-manager . 
 It uses librepo and hawkey under the hood.
