Source: obs-studio-nvenc
Section: video
Priority: optional
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9), 
 cdbs,
 cmake,
 git,
 libx11-dev,
 libgl1-mesa-dev | libgl-dev,
 libpulse-dev, libxcomposite-dev,
 libxinerama-dev, libv4l-dev,
 libudev-dev, libfreetype6-dev,
 libfontconfig-dev,
 qtbase5-dev,
 libqt5x11extras5-dev,
 libx264-dev, libxcb-xinerama0-dev,
 libxcb-shm0-dev,
 libavformat-ffmpeg-nvenc-dev,
 libswscale-ffmpeg-nvenc-dev,
 libswresample-ffmpeg-nvenc-dev,
 libavdevice-ffmpeg-nvenc-dev,
 libavfilter-ffmpeg-nvenc-dev,
 libfdk-aac-dev,
 libjack-jackd2-dev,
 libcurl4-openssl-dev
Homepage: http://obsproject.org

Package: obs-studio-nvenc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OBS Studio for Steam OS Brewmaster
