#!/usr/bin/make -f

# Copyright (C) 2010-2015 Glenn Rice
# Copyright (C) 2015 Sergio Benjamim

# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

# On Debian systems, the complete text of the GNU General Public License
# version 2 can be found in `/usr/share/common-licenses/GPL-2'

%:
	dh $@

CMAKE_OPTIONS =					\
	-DDOLPHIN_WC_REVISION="5.0-RC-34"	\
	-DDOLPHIN_WC_DESCRIBE="5.0-RC-34"	\
	-DDOLPHIN_WC_BRANCH="stable"		\
	-Dbindir=/usr/games			\
	-Ddatadir=/usr/share/games/dolphin-emu	\
	-DUSE_SHARED_ENET=ON

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_OPTIONS)

override_dh_auto_build:
	dh_auto_build
	(cd obj-$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE) && make unittests)
