[Desktop Entry]
Name=OpenPHT
GenericName=OpenPHT
X-GNOME-FullName=Community drive fork of Plex Home Theater
Comment=Watch your media on the big screen
Exec=openpht.sh
Icon=/usr/share/pixmaps/openpht-steamtile_460x215.png
Terminal=false
Type=Application
