Source: libretro-pcem
Section: games
Priority: optional
Maintainer: SteamOS-Tools Signing Key <mdeguzis@gmail.com
Uploaders: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 libopenal-dev,
 libalut-dev,
 liballegro5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/libretro/libretro-pcem

Package: libretro-pcem
Architecture: any
Multi-Arch: same
Depends: retroarch | libretro-frontend, ${misc:Depends}, ${shlibs:Depends}
Description: Libretro wrapper for PCem
 This wrapper makes PCem compatible with libretro, thus allowing its use
 with libretro frontends, such as RetroArch.
 .
 PCem is a PC emulator, which is able to run a mirad of Windows 9x games.
