#!/usr/bin/make -f

export DEB_CFLAGS_MAINT_PREPEND=-std=gnu11

%:
	dh $@ --parallel

override_dh_auto_configure:

override_dh_auto_build:
	cd src/ && \
	$(MAKE) -f Makefile.libretro

override_dh_auto_clean:
	cd src/ && \
	$(MAKE) -f Makefile.libretro clean

override_dh_auto_install:
