Source: a2mr
Section: games
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9), rsync
Standards-Version: 3.9.7
Homepage: http://metroid2remake.blogspot.com/2010/01/about-name.html

Package: a2mr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A2MR is a remake of the clasic Metroid II game.
 IMPORTANT: This is an UNOFFICIAL release of the free, and
 fan-made game. A kind reddit user made a compatible 
 game launcher. This is provided AS IS.
