export DEB_LDFLAGS_MAINT_APPEND  = -Wl,-z,defs -Wl,--as-needed

# Set top dir
# Since this build uses autoreconf, we should be able to specify DESTDIR with make.
TOP = $(shell pwd)

# Altenate method to install files to desired location?
# mkdir -p $(TOP)/debian/tmp
# $(MAKE) DESTDIR=$(TOP)/debian/tmp PREFIX=/usr

%:
	dh $@

override_dh_auto_build:
	# clean build files
	rm -rf yabause/build && mkdir -p yabause/build
	# call cmake with options
	cd yabause/build && cmake -DCMAKE_INSTALL_PREFIX=/usr \
				-DCMAKE_BUILD_TYPE=Release \
				-DYAB_WERROR=ON \
				-DYAB_FORCE_SECURE_STRINGS=ON \
				-DYAB_NETWORK=ON \
				-DYAB_USE_QT5=ON  .. \
	# Install files to top directory
	make -C yabause/build DESTDIR=$(TOP) install
