#!/usr/bin/make -f

# Tests fail for now - TODO fix

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py install --root=$(CURDIR)/debian/python-pygpgme --optimize=1

override_dh_auto_test:
