Source: harfbuzz
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Section: games
Priority: optional
Build-Depends:
 build-essential,
 libfreetype6-dev,
 libglib2.0-dev,
 libcairo2-dev
Standards-Version: 3.9.8
Homepage: https://github.com/behdad/harfbuzz/

Package: harfbuzz
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: This is HarfBuzz, a text shaping library.
