Source: giflib
Section: libs
Priority: optional
Maintainer: wsnipex <wsnipex@kodi.tv>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf
Standards-Version: 3.9.4
Homepage: http://giflib.sourceforge.net/

Package: giflib5-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 ${misc:Depends}, giflib5-tools (= ${binary:Version}),
 libgif5 (= ${binary:Version}), libgif-dev (= ${binary:Version})
Description: library for GIF images (debug)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the debugging symbols.

Package: giflib5-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libperl4-corelibs-perl | perl (<< 5.12.3-7)
Provides: libungif-bin
Description: library for GIF images (utilities)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains additional utilities.

Package: libgif5
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: library for GIF images (library)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the library.

Package: libgif-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libgif5 (= ${binary:Version})
Description: library for GIF images (development)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the development files.
