#!/usr/bin/make -f

# Copyright (C) 2014 Sergio Benjamim

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	rsync -av --progress . debian/retroarch-*/usr/share/libretro/assets/ --exclude debian --exclude lakka/monochrome/src --exclude lakka/flatui/src --exclude .bzr --exclude .bzrignore --exclude .git

override_dh_auto_clean:
