Source: rpcs3
Section: games
Priority: optional
Build-Depends: debhelper,
 build-essential,
 cmake,
 clang (>= 3.6),
 git-core,
 libc6-dev,
 libedit-dev,
 libopenal-dev,
 libglew-dev,
 libstdc++-4.8-dev,
 lib32stdc++6,
 libwxgtk3.0-dev,
 zlib1g-dev
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Standards-Version: 3.9.7
Homepage: https://github.com/RPCS3/rpcs3

Package: rpcs3
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: An open-source PS3 emulator/debugger written in C++ 
