Source: rpcs3
Section: games
Priority: optional
Build-Depends: debhelper,
 build-essential,
 clang (>=3.6),
 cmake,
 g++ (>=5),
 gcc (>=5),
 libc6-dev,
 libedit-dev,
 libopenal-dev,
 libglew-dev,
 libstdc++-4.8-dev,
 lib32stdc++6,
 libwxgtk3.0-dev,
 zlib1g-dev
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Homepage: https://github.com/RPCS3/rpcs3

Package: rpcs3
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends}
Description: An open-source PS3 emulator/debugger written in C++ 
