#!/usr/bin/make -f
# See: https://github.com/RPCS3/rpcs3/blob/master/.travis.yml
# https://github.com/RPCS3/rpcs3

##############################################################
# Clang and GCC are too old on Debian Jessie, use Stretch
# Must provide full path to binary or add to path
##############################################################
# Using clang:
# cmake -DCMAKE_CXX_COMPILER=clang++-3.8 -DCMAKE_C_COMPILER=clang-3.8

# Using gcc
# cmake -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc

# Define LLVM
# Project has issues (for some reason) finding all the cmake configs
# add '-DLLVM_DIR=/usr/share/llvm-3.8/cmake
#
# Important! 
# You must use LLVM 3.8.1-3 or higher! (>= Sid)
# See: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=819072
##############################################################

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	rm -rf rpcs3/build && mkdir -p rpcs3/build
	cd rpcs3/build && cmake \
			-DCMAKE_BUILD_TYPE='Release' \
			-DCMAKE_CXX_COMPILER=clang++-3.9 \
			-DCMAKE_C_COMPILER=clang-3.9 \
			-DCMAKE_C_FLAGS="-Wall -std=c99" \
			-DCMAKE_CXX_FLAGS="-Wall -std=c++11 -std=c++1y" \
			-DUSE_SYSTEM_LIBPNG='ON' \
			-DUSE_SYSTEM_FFMPEG='ON' \
			-DCMAKE_INSTALL_PREFIX=/usr .. && \
			make
