[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mr. Boom
Comment=8 players Bomberman
Exec=mrboom
Icon=/usr/share/pixmaps/mrboom.png
Terminal=false
Categories=Applications;Games;ActionGame;
Keywords=bomberman;bomb;
