Source: lgogdownloader
Section: utils
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake,
 help2man,
 libboost-regex-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libboost-date-time-dev,
 libcurl4-openssl-dev,
 libhtmlcxx-dev,
 libjsoncpp-dev,
 liboauth-dev,
 librhash-dev,
 pkg-config,
 libtinyxml2-dev
Standards-Version: 3.9.5
Homepage: https://github.com/Sude-/lgogdownloader

Package: lgogdownloader
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 libcss-parser0,
 libcss-parser-pp0,
 librhash0,
 liboauth0,
 libboost-date-time1.55.0,
 libboost-filesystem1.55.0,
 libboost-regex1.55.0,
 libboost-program-options1.55-dev,
 libhtmlcxx3,
 libjsoncpp0,
 libtinyxml2.6.2
Description: lgogdownloader is an unofficial GOG downloader.
 This package installs lgogdownloader for SteamOS Brewmaster users.
